extends layout

block content
  div(class='container')
    h1 Enter a city and state
    form(class='form-group', action='/weather', method="GET")
      input#info(class='form-control', type='text', name='info', placeholder="St. George, Utah")
      button(class='btn-primary btn-success') Get weather
